@model Company.Project.Web.Models.EventViewModel

@{
    ViewBag.Title = "Edit Event";
}

<div class="container mt-3">
    <h3 class="display-4" style="color: rgb(63,214,172); font-weight: 500">Edit Event</h3>

    <form enctype="multipart/form-data" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input asp-for="Title" class="form-control" placeholder="Name" />
                <small><span asp-validation-for="Title" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Date" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input asp-for="Date" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <label asp-for="Location" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input asp-for="Location" class="form-control" placeholder="Location" />
            </div>

        </div>
        <div class="form-group row">
            <label asp-for="StartTime" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input asp-for="StartTime" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Type" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="radio" asp-for="Type" value="Public" checked> Public
                <input type="radio" asp-for="Type" value="Private"> Private
                @*<input asp-for="Type" class="form-control" value="Public" />*@
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Duration" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input asp-for="Duration" class="form-control" placeholder="Duration in hrs." />
                <small><span asp-validation-for="Duration" class="text-danger"></span></small>
            </div>

        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <textarea asp-for="Description" class="form-control" placeholder="Write here..."></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="OtherDetails" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <textarea asp-for="OtherDetails" class="form-control" placeholder="Write here..."></textarea>
                <small><span asp-validation-for="OtherDetails" class="text-danger"></span></small>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="InviteByEmail" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <textarea asp-for="InviteByEmail" class="form-control" placeholder="Emails"></textarea>
                <small><span asp-validation-for="InviteByEmail" class="text-danger"></span></small>
            </div>

        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div>
            @if (ViewBag.CanEdit)
            {
                <button asp-controller="Event" asp-action="EditEvent" asp-route-Id="@Model.Id" class="btn btn-primary" type="submit">Update</button>
            }
            @if (User.Identity.Name == "myadmin@bookevents.com")
            {
                <a asp-controller="Event" asp-action="AllEvents" class="btn btn-danger">Cancel</a>
            }
            else
            {
                <a asp-controller="Event" asp-action="Details" class="btn btn-danger">Cancel</a>
            }
        </div>
    </form>



</div>